[Unit]
Description=FirstBoot
Before=network.target
ConditionFileNotEmpty=/opt/firstboot.sh

[Service]
ExecStart=/opt/firstboot.sh
ExecStartPost=/bin/mv /opt/firstboot.sh /opt/firstboot.sh.done
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
